.contenedor {
    height: 80px;
    background: linear-gradient(260.83deg, #010101 37.97%, var(--color-red) 241.95%);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 100;
  }

  .contenedor .img{
    cursor: pointer;
    width: 190px;
  }

  .contenedorLeft {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 0;
    padding: 0;

}
.contMenu {
  display: flex;
  width: 100%;
  font-size: 18px;
 
}

.contMenu  a{
    cursor: pointer;
    color: white;
}

.contCart span{
    color: white;
    cursor: pointer;

}
.active{
  padding-bottom: 5px;
  font-weight: 500;
  border-bottom: 1px solid white;
}

.inactive{
  border-bottom: none !important;

}



  