.contenedor{
    width: 100%;
    background: linear-gradient(260.83deg, #010101 37.97%, #be202e 241.95%);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
    align-items: center;
    margin-top: 5rem;
}

.contUno{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.contUno img{
    width: 200px;
}
.redes{
    display: flex;
    width: 100%;
    justify-content:space-around;
}
.redes i{
    font-size: 35px;
}
.contDos{
    padding-right: 100px;
    border-right: solid 1px white;
}
.contDos h1{
    font-size: 20px;
    color: white;
}
.contDos p{
    font-size: 13px;
}
.contTres{
    display: flex;
    flex-direction: column;
    line-height: 1;

}

.contTres h1{
    font-size: 20px;
    color: white;

}
.contactenos{
    display: flex;
}
.contactenos h1{
    font-size: 20px;
    width: 100%;
    margin-bottom: 0px;
}
.contactenos p{
    font-size: 13px;
}