.contenedorPrincipal {
  width: 100%;
}

.contenedorPrincipal h1 {
  color: white;
}

.tituloImagen {
  position: absolute;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  background: rgba(1, 1, 1, 0.5);
  box-shadow: 0px 4px 40px rgba(1, 1, 1, 0.4);
  backdrop-filter: blur(60px);
  height: 25%;
  padding-top: 1rem;
}
.nombre {
  display: flex;
}
.nombre h1 {
  margin: 10px;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;

  text-align: center;
}
.tituloImagen p {
  margin-top: 0;
  max-width: 520px;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.contenedorUno {
  display: grid;
}
.contenedorUno img {
  width: 100%;
  margin-top: 55px;
}

.contenedorDos {
  display: flex;
  padding: 7rem 12rem 7rem;
  gap: 10rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card span {
  font-size: 140px;
  color: var(--color-primary);
}
.card h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #be202e;
}
.card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #010101;
}

.contenedorTres {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.titulo {
  text-align: center;
  color: black;
}
.titulo h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #be202e;
}
.titulo p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #010101;
}

.imagenes {
  display: flex;
  gap: 5rem;
  padding: 2rem 0px 1rem;
}
.cardImg {
  position: relative;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 100%);
  border-radius: 10px;
  display: flex;
  width: 240px;
  height: 306px;
  transition: 0.3s all;
  overflow: hidden;
  background-size: cover !important;
}


.cardImg h3 {
  width: 100%;
  position: absolute;
  color: white;
  background: rgba(190, 32, 46, 0.8);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  height: 15%;
  align-items: center;
  margin: 0;
  top: 10%;
  font-size: 30px;
  font-weight: 600;
  transition: all 0.8s ease;
}

.cardImg:hover h3 {
  top: 0%;
  height: 100%;
  border-radius: 10px;
  font-size: 40px;
}
.cardImg:hover img {
  transform: scale(1.3) translateY(-10px) !important;
}
.cardImg img {
  z-index: -1;
  border-radius: 10px;
  transition: all 0.8s ease;
}
.cardImg:nth-child(2) h3,
.cardImg:nth-child(4) h3 {
  background: var(--color-primary-rgba);
}

.contenedorCuatro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.titulo {
  text-align: center;
}
.titulo h1 {
  font-size: 40px;
}
.titulo p {
  font-size: 20px;
}
.video {
  padding: 2rem;
}

.contenedorCinco h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #be202e;
}

.informacion {
  display: flex;
  flex-direction: row  ;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.infoImg {
  display: flex;
  width: 55%;
  justify-content: space-around;
}
.info {
  padding: 2rem;
  width: 25%;
}
.info h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #47973b;
}
.infoImg img {
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 100%);
  max-width: 240px;
  height: 306px;
}

@media only screen and (max-width: 700px) {
  .contenedorUno {
    height: auto;
  }
  .contenedorUno img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-top: 80px;
  }
  .nombre {
    flex-direction: column;
  }
  .nombre h1 {
    margin-bottom: 0;
  }
  .tituloImagen {
    padding: 0;
    justify-content: start;
    height: auto;
  }
  .tituloImagen h1 {
    font-size: 25px;
    line-height: 18px;
  }
  .tituloImagen p {
    margin-top: 0.5rem;
    width: 70%;
    font-size: 12px;
    line-height: 17px;
  }

  /* ................................ */

  .contenedorDos {
    flex-direction: column;
    padding: 7rem 1rem 4rem;
    gap: 2rem;
  }
  

  /* ......................... */
  .contenedorTres{
    padding-bottom: 2rem;
  }
  .titulo h1 {
    font-size: 30px;
    margin-bottom: 0rem;
  }
  .titulo p {
    line-height: 17px;
    font-size: 14px;
    padding: 0 1rem;
  }

  .imagenes {
    overflow: scroll;
    width: 100%;
    gap: 2rem;
    padding: 0 2rem 1rem 2rem;
  }
  .cardImg {
    min-width: 240px;
  }
  .imagenes::-webkit-scrollbar {
    width: 10px;
    height: 7px;
  }

  /* Track */
  .imagenes::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .imagenes::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(
      260.83deg,
      #010101 37.97%,
      var(--color-red) 241.95%
    );
  }

  /* Handle on hover */
  .imagenes::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }


  .titulo {
    text-align: center;
  }
  .titulo h1 {
    font-size: 37px;
  }
  .titulo p {
    font-size: 17px;
  }
  .video {
    padding: 0rem;
  }
  
  .video iframe{
    width: 100%;
    height: auto;
  }
  
  /* ........................ */
  .contenedorCinco h1 {
    margin: 1rem;
  }
  
  .informacion {
    flex-direction: column !important; 
    padding: 0rem 0;
  }
  .informacion:nth-child(2){
    flex-direction: column-reverse !important; 
  }
  .informacion:nth-child(4){
    flex-direction: column-reverse !important;
  }
  
  .infoImg {
    width: 100%;
    overflow-x: scroll;
    gap: 1rem;
    justify-content: initial;
    padding: 0 1rem 1rem;
  }
  .infoImg::-webkit-scrollbar {
    
    width: 10px;
    height: 6px;
  }
  
  /* Track */
  .infoImg::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .infoImg::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(
      260.83deg,
      #010101 37.97%,
      var(--color-red) 241.95%
    );
  }
  
  /* Handle on hover */
  
  .info {
    padding:  00rem 1rem;
    width: 100%;
  }
  .info h3 {
    margin: 1rem 0;
  }
  .infoImg img {
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 100%);
    max-width: 240px;
    height: 306px;
  }
  
}

/* ..................... */

