.paginado{ 
    padding: 12px;
    font-size: 15px;
    cursor:pointer;
    overflow: hidden;
    color: black;
}

.paginado:hover{
color: var(--color-red);
}

.contenedor{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.activo{
    background-color: #47973b;
    border-radius: 50%;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
}