.container {
  padding: 130px 2rem 0 2rem;
  display: flex;
  justify-content: center;
}
.categorias {
  width: 220px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem 0;
}
.categorias select{
  display: none
}
.categorias h1 {
  padding: 0 1rem;
  font-size: 20px;
  color: var(--color-red);
}

.categorias ul {
  width: 100%;
  padding: 0 1rem;
}
.categorias li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.categorias li span {
  font-size: 16px;
}
.categorias li:hover span {
color: var(--color-red);}

.contRight{
  width: 80%;
}
.contCard {
  flex-flow: row wrap;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.active span{
  color: var(--color-red);
  font-weight: 500;
}

.contPag{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contPag button{
  background-color: transparent;
  border: none;
  height: 25px;
  margin-top: 35px;
  cursor: pointer;
  
}

@media only screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 8rem  0 0 0;
    
  }
  .categorias {
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }
  .categorias ul {
   display: none;
  }
  .categorias h1{
    display: none;
  }
  .categorias select{
    display: block;
    width: 100%;
    border: none;
    transition: all 0.25s ease;
    
   }

   .categorias select option{
     border-radius: 10px;
   }

   .select{
     color: var(--color-red);
     font-weight: 700;
    font-size: 17px;
    transition: all 0.25s ease;
   }
   /* .active{
     font-size: 20px;
     color:var(--color-red)
   }; */
  /*.opcion{
    padding: 0 1rem;
  font-size: 20px;
  color: var(--color-red);
  } */
  

  .contRight{
    width: 90%;
  }
  .contCard {
    padding: 0 0rem;
  }
  .categorias FormControl {
    display: none;
  }
  

}