.container {
  padding: 130px 6rem 0 6rem;
  display: flex;
}
.categorias {
  width: 250px;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 1rem 0;
}
.categorias h1 {
  padding: 0 1rem;
  font-size: 20px;
  color: var(--color-red);
}

.categorias ul {
  width: 100%;
  padding: 0 1rem;
}
.categorias li {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.categorias li span {
  font-size: 16px;
}
.categorias li:hover span {
color: var(--color-red);}

.contCard {
  flex-flow: row wrap;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

